<form class="register__form" #editForm="ngForm">
    <!-- artist name -->
    <div class="name__container">
        <label for="name">Username: </label>
        <input ngModel required minlength="2" type="text" id="name" name="name" placeholder="Enter name of artist">
    </div>

    <!-- formed -->
    <div class="formed__container">
        <label for="formed">Formed: </label>
        <input ngModel type="number" name="formed" id="formed" placeholder="Enter year of formation">
    </div>

        <!-- desc -->
        <div class="desc__container">
            <label for="desc">Description: </label>
            <input ngModel type="tetx" name="desc" id="desc" placeholder="Enter description">
        </div>

    <button class="btn" [disabled]="">Cancel</button>
    <button class="btn" [disabled]="">Save</button>

</form>