<form class="login" [formGroup]="loginFormGroup" (ngSubmit)="handleLogin()">
    <p *ngIf="errorMessage" class="login__error">{{errorMessage}}</p>
    <p class="login__input">
        <label for="email">Email:</label>
        <input formControlName="email" type="text" name="email" id="email"
            placeholder="Enter email" [class.input__error]="loginFormGroup.controls['email'].touched && loginFormGroup.controls['email'].invalid">
    </p>
    <ng-container *ngIf="loginFormGroup.controls['email'].touched && loginFormGroup.controls['email'].invalid">
        <p class="error error-email">
            *Email is required
        </p>
    </ng-container>

    <p class="login__input">
        <label for="password">Password:</label>
        <input formControlName="password" type="password" name="password" id="password"
            placeholder="Enter password" [class.input__error]="loginFormGroup.controls['password'].touched && loginFormGroup.controls['password'].invalid">
    </p>
    <ng-container *ngIf="loginFormGroup.controls['password'].touched && loginFormGroup.controls['password'].invalid">
        <p *ngIf="loginFormGroup.controls['password'].errors['required']" class="error error-login">
            *Password is required
        </p>
        <p *ngIf="!loginFormGroup.controls['password'].errors['required']" class="error error-login-len">
            *Password must be at least 4 characters
        </p>
    </ng-container>

    <button [disabled]="loginFormGroup.invalid" (click)="handleLogin()" class="btn">Login</button>
</form>