<form class="login" [formGroup]="loginFormGroup" (ngSubmit)="handleLogin()">
    <p class="login__input">
        <label for="email">Email:</label>
        <input formControlName="email" type="text" name="email" id="email"
            placeholder="Please enter your email" [class.input__error]="loginFormGroup.controls['email'].touched && loginFormGroup.controls['email'].invalid">
    </p>
    <ng-container *ngIf="loginFormGroup.controls['email'].touched && loginFormGroup.controls['email'].invalid">
        <p class="error">
            *Email is required
        </p>
    </ng-container>

    <p class="login__input">
        <label for="password">Password</label>
        <input formControlName="password" type="password" name="password" id="password"
            placeholder="Please enter your password">
    </p>
    <ng-container *ngIf="loginFormGroup.controls['password'].touched && loginFormGroup.controls['password'].invalid">
        <p *ngIf="loginFormGroup.controls['password'].errors['required']" class="error">
            *Password is required
        </p>
        <p *ngIf="!loginFormGroup.controls['password'].errors['required']" class="error">
            *Password must be at least 4 characters
        </p>
    </ng-container>

    <button [disabled]="loginFormGroup.invalid" (click)="handleLogin()">Login</button>
</form>