<div class="container">
    <div class="card">
        <div class="slide slide1">
            <div class="content">
                <div class="icon">
                    <i class="fa fa-user-circle" aria-hidden="true">SoftUni</i>
                </div>
            </div>
        </div>
        <div class="slide slide2">
            <div class="content">
                <h3>
                    student:
                </h3>
                <p>kostadinov7</p>
            </div>
        </div>
    </div>
</div>