.register__form {
    margin-top: 5rem;
    text-align: center;
}

.input-error {
    border-left: 5px solid red;
}

.error {
    color: red;
}

.username__container {
    margin-bottom: 2rem;
}

.email__container {
    margin-bottom: 2rem;
}

.passwords__container {
    margin-bottom: 2rem;
}

#email {
    margin-left: 32px;
}

#rePassword {
    margin-left: 14px;
}

#password {
    margin-bottom: 2rem;
}

.error-register-username {
    margin-top: 2px;
    margin-left: 52px;
    margin-bottom: 1rem;
    color: red;
    font-size: 14px;
}

.error-register-username-len {
    margin-left: 164px;
}

.error-email-required {
    margin-top: 3px;
    margin-left: 33px;
}

.error-pass {
    font-size: 14px;
    margin-top: -30px;
    margin-bottom: 24px;
    margin-left: 46px;
}

.error-pass-len {
    margin-left: 160px;
}

.error-repass {
    margin-top: 2px;
    margin-left: 66px;
}

.btn {
    padding: 0.3rem 0.5rem;
    border: none;
    background-color: #769FCD;
    color: #F7FBFC;
    border-radius: 6px;
    cursor: pointer;
 }

 .btn:hover {
    background-color: #F7FBFC;
    color: #769FCD;
 }