<div *ngIf="!isLoading">
    <h2 class="title">{{artist?.name}}</h2>
    <div class="wrapper">
        <img src={{artist?.imgUrl}} alt="">
    </div>
    <p class="desc">
        {{artist?.desc}}
    </p>
    <div class="back">
        <ul>
            <li>
                <button type="button" class="btn" routerLink="/artists">Back</button>
            </li>
            <li>
                <button type="button" class="btn" [routerLink]="['/artists', artist?.id, 'edit']">Edit</button>
            </li>
        </ul>
    </div>
</div>
<div *ngIf="isLoading">
    Loading...
</div>