@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500&display=swap');

.wrapper, .title, .desc {
    font-family: 'Red Hat Display', sans-serif;
    text-align: center;
    color: #769FCD;
}

.title {
    margin-top: 5rem;
    margin-bottom: 3rem;
    font-size: 4rem;
}

.desc {
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.7;
    font-size: 1.25rem;
    font-weight: 500;
}


.back {
    text-align: center;
    margin-bottom: 5rem;
}

.back ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
}

.btn {
    padding: 0.3rem 0.5rem;
    border: none;
    background-color: #769FCD;
    color: #F7FBFC;
    border-radius: 6px;
    cursor: pointer;
 }

 .btn:hover {
    background-color: #F7FBFC;
    color: #769FCD;
 }


 /* CSS styles in Edit Mode */

 .edit__form {
     margin-top: 3rem;
     text-align: center;
 }

 .desc__container {
     margin-bottom: 2rem;
 }

 label {
    font-family: 'Red Hat Display', sans-serif;
    text-align: center;
    color: #769FCD;
    font-size: 1.3rem;
}

#name, #formed, #desc {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

#btn__cancel {
    margin-right: 5px;
}