<nav class="header__nav">
    <ul class="nav">
        <li class="nav__item"><a routerLink="/home">Home</a></li>
        <li class="nav__item"><a routerLink="/register">Register</a></li>
        <li class="nav__item"><a routerLink="/login">Login</a></li>
        <li class="nav__item"><a routerLink="/artists">Artists</a></li>
        <li class="nav__item"><a routerLink="/events">Events</a></li>
        <li class="nav__item"><a routerLink="/about">About</a></li>
        <li class="nav__item"><a routerLink="/logout">Logout</a></li>
    </ul>
</nav>