<nav class="header__nav">
    <ul class="nav">
        <li class="nav__item"><a routerLink="/home" routerLinkActive="active">Home</a></li>
        <li class="nav__item"><a routerLink="/artists" routerLinkActive="active">Artists</a></li>
        <li class="nav__item"><a routerLink="/about" routerLinkActive="active">About</a></li>
        <li *ngIf="!(isLoggedIn$ | async)" class="nav__item"><a routerLink="/register" routerLinkActive="active">Register</a></li>
        <li *ngIf="!(isLoggedIn$ | async)" class="nav__item"><a routerLink="/login" routerLinkActive="active">Login</a></li>
        <li *ngIf="(isLoggedIn$ | async)" class="nav__item"><a routerLink="/events" routerLinkActive="active">Events</a></li>
        <li *ngIf="(isLoggedIn$ | async)" class="nav__item"><a routerLink="/logout" routerLinkActive="active">Logout</a></li>
    </ul>
</nav>