<div class="wrapper">
    <div class="wrapper__content">
        <h1>
            Good Music From All Over The World
        </h1>
    </div>
</div>
<ul class="info">
    <li>
        <ul class="info__content">
            <li class="info__content--item">
                <div class="info__img">
                    <img src='https://res.cloudinary.com/user9913/image/upload/v1649846425/ng-imgs/jazz_uyd5hh.png' alt="jazz_img">
                </div>
            </li>
            <li class="info__content--item">
                <h2>JAZZ</h2>
            </li>
            <li class="info__content--item">
                <p>
                    {{infoJazz.substring(0, 847)}}...
                </p>
            </li>
            <li class="info__content--item">
                <button routerLink="/jazz">Read more</button>
            </li>
        </ul>
    </li>
    <li>
        <ul class="info__content">
            <li class="info__content--item">
                <div class="info__img">
                    <img src='https://res.cloudinary.com/user9913/image/upload/v1649846425/ng-imgs/rock_kczqo9.png' alt="rock_img">
                </div>
            </li>
            <li class="info__content--item">
                <h2>ROCK</h2>
            </li>
            <li class="info__content--item">
                <p>
                    {{infoRock.substr(0, 847)}}...
                </p>
            </li>
            <li class="info__content--item">
                <button routerLink="/rock">Read more</button>
            </li>
        </ul>
    </li>
    <li>
        <ul class="info__content">
            <li class="info__content--item">
                <div class="info__img">
                    <img src='https://res.cloudinary.com/user9913/image/upload/v1649846424/ng-imgs/breakdance_fgeczb.png' alt="breakdance_img">
                </div>
            </li>
            <li class="info__content--item">
                <h2>HIP HOP</h2>
            </li>
            <li class="info__content--item">
                <p>
                    {{infoBreak.substring(0, 818)}}...
                </p>
            </li>
            <li class="info__content--item">
                <button routerLink="/hip-hop">Read more</button>
            </li>
        </ul>
    </li>
</ul>