@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500&display=swap');

.error {
    margin-top: 5rem;
    text-align: center;
}

.error p {
    margin-bottom: 3rem;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 3.5rem;
    color: red;
}

.img__container {
    margin-top: 3rem;
}

.btn {
    bottom: 5px;
    right: 5px;
    padding: 0.3rem 0.5rem;
    border: none;
    background-color: #769FCD;
    color: #F7FBFC;
    border-radius: 6px;
    cursor: pointer;
}

.btn:hover {
    background-color: #F7FBFC;
    color: #769FCD;
}